{% extends "blog/base.html" %}
{% block content %}
<!-- <h1>About Page</h1>
<p> Doctor's Review Website
Here anyone can conveniently put their reviews about the doctors they consulted. There's also a map to find the hospitals nearby.
It is a volunteery initiative to reduce the number of maltreatments in Bangladesh where the ratio is pretty high. And the patients have lack of confidence on the doctors.
</p> -->


       <div class="site-wrapper">

         <div class="site-wrapper-inner">

           <div class="container">

             <div class="inner cover">
               <h1 class="cover-heading" style="text-align:center">Doctor's Review Website</h1><br>
               <p class="lead">Here anyone can conveniently put their reviews about the doctors they consulted. There's also a map to find the hospitals nearby.
               It is a volunteery initiative to reduce the number of maltreatments in Bangladesh where the ratio is pretty high. And the patients have lack of confidence on the doctors.</p>
               <p class="lead">
                 <a href="http://127.0.0.1:8000/" class="btn btn-lg btn-default" style="border: 1px solid #a0a6b4">Learn more</a>
               </p>
             </div>

           </div>

         </div>

       </div>




{% endblock content %}
