{% extends "blog/base.html" %}
{% block content %}





   <style>
       .mapboxgl-popup {
           max-width: 500px;

           font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
       }
   </style>
   <div id="map"  style=' width: 1100px; height: 500px;'>
   <script>
   	mapboxgl.accessToken = 'pk.eyJ1Ijoibm9iaW5wZWdhc3VzIiwiYSI6ImNrd2p1NWpxbjFsZHgyd211ZzA5M2lmc2UifQ.s1a71Frz1UsqhXzP-2nKoA';
       const map = new mapboxgl.Map({
           container: 'map',
           style: 'mapbox://styles/mapbox/streets-v11',
           center: [91.880, 24.88],
           zoom: 11.15
       });

       const marker = new mapboxgl.Marker() // Initialize a new marker
         .setLngLat([90.399, 25.77]) // Marker [lng, lat] coordinates
         .addTo(map); // Add the marker to the map

         const geocoder = new MapboxGeocoder({
           // Initialize the geocoder

           accessToken: mapboxgl.accessToken, // Set the access token
           mapboxgl: mapboxgl, // Set the mapbox-gl instance
           marker: false, // Do not use the default marker style
           placeholder: 'Search for places in Sylhet', // Placeholder text for the search bar
           bbox: [88.58572305218047, 20.262301456237523, 93.1620352932311, 26.705390082211466], // Boundary for Berkeley
           // proximity: {
           //   longitude: -122.25948,
           //   latitude: 37.87221
           // } // Coordinates of UC Berkeley
           country: 'BD'
         });

         map.addControl(geocoder);

         // After the map style has loaded on the page,
         // add a source layer and default styling for a single point


         // map.on('load', () => {
         //   map.addSource('single-point', {
         //     'type': 'geojson',
         //     'data': {
         //       'type': 'FeatureCollection',
         //       'features': []
         //     }
         //   });



           // map.addLayer({
           //   'id': 'point',
           //   'source': 'single-point',
           //   'type': 'circle',
           //   'paint': {
           //     'circle-radius': 10,
           //     'circle-color': '#448ee4'
           //   }
           // });

           // Listen for the `result` event from the Geocoder // `result` event is triggered when a user makes a selection
           //  Add a marker at the result's coordinates

         //   geocoder.on('result', (event) => {
         //     map.getSource('single-point').setData(event.result.geometry);
         //   });
         // });









       map.on('load', () => {
           map.addSource('places', {
               // This GeoJSON contains features that include an "icon"
               // property. The value of the "icon" property corresponds
               // to an image in the Mapbox Streets style's sprite.
               'type': 'geojson',
               'data': {
                   'type': 'FeatureCollection',
                   'features': [
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>M.A.G Osmani Medical College</strong><p>Sylhet M.A.G. Osmani Medical College Hospital is the only tertiary level Government hospital in Sylhet division. About 10 million people are dependant on it for health care. The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=osmani+medical" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [91.8533, 24.9006]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>Mount Adora Hospital</strong><p>Mount Adora Hospital is one of the most popular hospitals in Sylhet.It is very helpful for versity\'s student as it is not so far from university.Pediatrics department of this hospital is very proud of their successful record in giving children a healthy start in life.The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=Mount+adora" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [91.84416276315756, 24.909578922040723]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>Sylhet Women\'s Medical College</strong><p>Sylhet Women\'s Medical College is a private medical school in Bangladesh, exclusively for female students, established in 2005. It is located inside the campus of the College and  provides the highest standard of medical education and healthcare to the district and the nation.The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=Sylhet+women+medical+college" target="_blank" title="Opens in a new window">review</a> panel</p>.',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [91.87273407564328, 24.898575597937153]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>JALALABAD RAGIB-RABEYA MEDICAL COLLEGE</strong><p>Jalalabad Ragib-Rabeya Medical College (JRRMC) is a private medical school in Bangladesh, established in 1995. It is affiliated with Shahjalal University of Science and Technology (SUST) under the School of Medical Sciences. Jalalabad Ragib Rabeya Medical College is a well reputated medical hospital. Patients may receive quality treatment with a reasonable price. The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=Jalalabad+ragib+rabeya" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [91.8524, 24.9134]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>North East Medical College and Hospital</strong><p>North East Cancer Hospital located in Chandipul, South Surma, Sylhet. The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=North" target="_blank" title="Opens in a new window">review</a> panel</p>',
                                   'icon': 'hospital-15'

                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [91.8573, 24.8645]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>Parkview Medical College & Hospital</strong><p>Parkview Medical College located in Sheikh Ghat,Sylhet. This hospital has set up a low cost specialized treatment facility for the common people which will eventually take shape of a centre of excellence in Bangladesh.The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=Parkview" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [91.8575, 24.8893]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>United Hospital</strong><p>Opening its doors in August 2006 and situated beside the picturesque Gulshan Lake, this hospital is one of the largest private sector healthcare facilities in Bangladesh. The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=United+hospital" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [90.4158, 23.8046]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>Evercare Hospital Dhaka</strong><p>Evercare Hospital Dhaka is a private hospital in Bangladesh and Part of Evercare group. It was previously called Apollo Hospital Dhaka. Evercare Hospital Dhaka is a world-class hospital with an aim to establish a close synergy among medical skills, trained manpower, technology and advancements.It is the only JCI Accredited 425-bed multi-disciplinary super-specialty tertiary care hospital in Bangladesh. The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=Evercare" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [90.4313, 23.8103]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>Square Hospital Ltd</strong><p>This is one of the best and large private hospitals in Bangladesh. SQUARE hospitals have 110 consultation rooms, 400 patient beds, and 3000 Staff.The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=Square+hospital" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [90.3816, 23.7528]
                           }
                       }
                   ]
               }
           });
           // Add a layer showing the places.
           map.addLayer({
               'id': 'places',
               'type': 'symbol',
               'source': 'places',
               'layout': {
                   'icon-image': '{icon}',
                   'icon-allow-overlap': true
               }
           });

           // When a click event occurs on a feature in the places layer, open a popup at the
           // location of the feature, with description HTML from its properties.
           map.on('click', 'places', (e) => {
               // Copy coordinates array.
               const coordinates = e.features[0].geometry.coordinates.slice();
               const description = e.features[0].properties.description;

               // Ensure that if the map is zoomed out such that multiple
               // copies of the feature are visible, the popup appears
               // over the copy being pointed to.
               while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                   coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
               }

               new mapboxgl.Popup()
                   .setLngLat(coordinates)
                   .setHTML(description)
                   .addTo(map);
           });

           // Change the cursor to a pointer when the mouse is over the places layer.
           map.on('mouseenter', 'places', () => {
               map.getCanvas().style.cursor = 'pointer';
           });

           // Change it back to a pointer when it leaves.
           map.on('mouseleave', 'places', () => {
               map.getCanvas().style.cursor = '';
           });
       });
   </script>
  
</div>
{% endblock content %}
