{% extends "blog/base.html" %}
{% block content %}

   <!-- <h1>Map time!</h1> -->

   <!-- <div id='map' style='width: 400px; height: 300px;'></div>
   <script>
     mapboxgl.accessToken = 'pk.eyJ1Ijoibm9iaW5wZWdhc3VzIiwiYSI6ImNrd2p1NWpxbjFsZHgyd211ZzA5M2lmc2UifQ.s1a71Frz1UsqhXzP-2nKoA';
     var map = new mapboxgl.Map({
       container: 'map',
       style: 'mapbox://styles/mapbox/streets-v11'
     });
   </script> -->



   <meta charset="utf-8">
   <title>Display a popup on click</title>

   <style>
   body { margin: 100; padding: 0; }
   #map { position: absolute; top: 10; bottom: 0; width: 100%; }
   </style>
   </head>
   <body>
   <style>
       .mapboxgl-popup {
           max-width: 400px;
           font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
       }
   </style>
   <div id="map"></div>
   <script>
   	mapboxgl.accessToken = 'pk.eyJ1Ijoibm9iaW5wZWdhc3VzIiwiYSI6ImNrd2p1NWpxbjFsZHgyd211ZzA5M2lmc2UifQ.s1a71Frz1UsqhXzP-2nKoA';
       const map = new mapboxgl.Map({
           container: 'map',
           style: 'mapbox://styles/mapbox/streets-v11',
           center: [91.880, 24.88],
           zoom: 11.15
       });

       const marker = new mapboxgl.Marker() // Initialize a new marker
         .setLngLat([90.399, 25.77]) // Marker [lng, lat] coordinates
         .addTo(map); // Add the marker to the map

         const geocoder = new MapboxGeocoder({
           // Initialize the geocoder

           accessToken: mapboxgl.accessToken, // Set the access token
           mapboxgl: mapboxgl, // Set the mapbox-gl instance
           marker: false, // Do not use the default marker style
           placeholder: 'Search for places in Sylhet', // Placeholder text for the search bar
           bbox: [88.58572305218047, 20.262301456237523, 93.1620352932311, 26.705390082211466], // Boundary for Berkeley
           // proximity: {
           //   longitude: -122.25948,
           //   latitude: 37.87221
           // } // Coordinates of UC Berkeley
           country: 'BD'
         });

         map.addControl(geocoder);

         // After the map style has loaded on the page,
         // add a source layer and default styling for a single point


         // map.on('load', () => {
         //   map.addSource('single-point', {
         //     'type': 'geojson',
         //     'data': {
         //       'type': 'FeatureCollection',
         //       'features': []
         //     }
         //   });



           // map.addLayer({
           //   'id': 'point',
           //   'source': 'single-point',
           //   'type': 'circle',
           //   'paint': {
           //     'circle-radius': 10,
           //     'circle-color': '#448ee4'
           //   }
           // });

           // Listen for the `result` event from the Geocoder // `result` event is triggered when a user makes a selection
           //  Add a marker at the result's coordinates

         //   geocoder.on('result', (event) => {
         //     map.getSource('single-point').setData(event.result.geometry);
         //   });
         // });









       map.on('load', () => {
           map.addSource('places', {
               // This GeoJSON contains features that include an "icon"
               // property. The value of the "icon" property corresponds
               // to an image in the Mapbox Streets style's sprite.
               'type': 'geojson',
               'data': {
                   'type': 'FeatureCollection',
                   'features': [
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>M.A.G Osmani Medical College</strong><p>Sylhet M.A.G. Osmani Medical College Hospital is the only tertiary level Government hospital in Sylhet division. About 10 million people are dependant on it for health care. The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=osmani+medical" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [91.8533, 24.9006]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>Mount Adora Hospital</strong><p>Mount Adora Hospital is one of the most popular hospitals in Sylhet.It is very helpful for versity\'s student as it is not so far from university.Pediatrics department of this hospital is very proud of their successful record in giving children a healthy start in life.The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=Mount%2BAdora" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [91.84416276315756, 24.909578922040723]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>Sylhet Women\'s Medical College</strong><p>Sylhet Women\'s Medical College is a private medical school in Bangladesh, exclusively for female students, established in 2005. Sylhet Women\'s Medical College and Hospital is a teaching and medical facility with 3 high-rise buildings built on 130,000 square feet of land in the heart of Sylhet.It is located inside the campus of the College and  provides the highest standard of medical education and healthcare to the district and the nation.The reviews of doctor\'s of this hospital are given in this. <a href="http://127.0.0.1:8000/?q=Sylhet+Women%27s+Medical+College" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [91.87273407564328, 24.898575597937153]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>JALALABAD RAGIB-RABEYA MEDICAL COLLEGE</strong><p>Jalalabad Ragib-Rabeya Medical College (JRRMC) is a private medical school in Bangladesh, established in 1995. It is located in the Pathantula area of Bimanbandar Thana, in Sylhet. It is affiliated with Shahjalal University of Science and Technology (SUST) under the School of Medical Sciences.JALALABAD RAGIB RABEYA MEDICAL COLLEGE is a well reputated medical hospital. Patients may receive quality treatment with a reasonable price.Students from outside the country come to persue their MBBS degree from this medical college.The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=Jalalabad+Ragib+Rabeya+Medical+College" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [91.8524, 24.9134]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>North East Cancer Hospital</strong><p>North East Cancer Hospital located in Chandipul, South Surma, Sylhet is a multi-Specially Hospital established in 1998 offering a wide spectrum of advanced Cancer treatments to patients. North east Cancer Hospital has a great team of qualified oncologist available round the clock and also in emergency staff members make sure patients are given the best of medical care.The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=North+East+Cancer+Hospital" target="_blank" title="Opens in a new window">review</a> panel</p>',
                                   'icon': 'hospital-15'

                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [91.8573, 24.8645]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>Parkview Medical College & Hospital</strong><p>Parkview Medical College located in Sheikh Ghat,Sylhet. A group of noble dreamers got together by 2008 under the banner of Parkview Health Care Pvt. Ltd. & Associates of Parkview Health Care Pvt. Ltd. As a consequence, Parkview Medical College has opened its door to 1st batch of students of MBBS course from January 2014.This hospital has set up a low cost specialized treatment facility for the common people which will eventually take shape of a centre of excellence in Bangladesh.The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=Parkview+Medical+College+%26+Hospital" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [91.8575, 24.8893]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>United Hospital</strong><p>United Hospital Limited was originally called Continental Hospital and was established in the mid 1980s. In 2004, Continental Hospital was purchased by a group of investors, led by United Group and later renamed to United Hospital Limited. It started its journey in August 2016.The first ever endoscopic laser assisted surgery in Bangladesh was performed at United Hospital Limited on 8 November 2015.Radical Cystoprostatectomy with Orthotopic Neobladder Reconstruction Surgery was performed by Dr M A Zulkifl at United Hospital Limited on a 60 year old patient.The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=United+Hospital" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [90.4158, 23.8046]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>Evercare Hospital Dhaka</strong><p>Evercare Hospital Dhaka is a private hospital in Bangladesh and Part of Evercare group. It was previously called Apollo Hospital Dhaka.Evercare Hospital Dhaka is a world-class hospital with an aim to establish a close synergy among medical skills, trained manpower, technology and advancements.It is the only JCI Accredited 425-bed multi-disciplinary super-specialty tertiary care hospital in Bangladesh.The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=Evercare+Hospital+Dhaka" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [90.4313, 23.8103]
                           }
                       },
                       {
                           'type': 'Feature',
                           'properties': {
                               'description':
                                   '<strong>Square Hospital Ltd</strong><p>Square Hospital is a private hospital in Dhaka, Bangladesh. This is one of the best and large private hospitals in Bangladesh. SQUARE hospitals have 110 consultation rooms, 400 patient beds, and 3000 Staff.The reviews of doctor\'s of this hospital are given in this <a href="http://127.0.0.1:8000/?q=Square+Hospital+Ltd" target="_blank" title="Opens in a new window">review</a> panel</p>',
                               'icon': 'hospital-15'
                           },
                           'geometry': {
                               'type': 'Point',
                               'coordinates': [90.3816, 23.7528]
                           }
                       }
                   ]
               }
           });
           // Add a layer showing the places.
           map.addLayer({
               'id': 'places',
               'type': 'symbol',
               'source': 'places',
               'layout': {
                   'icon-image': '{icon}',
                   'icon-allow-overlap': true
               }
           });

           // When a click event occurs on a feature in the places layer, open a popup at the
           // location of the feature, with description HTML from its properties.
           map.on('click', 'places', (e) => {
               // Copy coordinates array.
               const coordinates = e.features[0].geometry.coordinates.slice();
               const description = e.features[0].properties.description;

               // Ensure that if the map is zoomed out such that multiple
               // copies of the feature are visible, the popup appears
               // over the copy being pointed to.
               while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                   coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
               }

               new mapboxgl.Popup()
                   .setLngLat(coordinates)
                   .setHTML(description)
                   .addTo(map);
           });

           // Change the cursor to a pointer when the mouse is over the places layer.
           map.on('mouseenter', 'places', () => {
               map.getCanvas().style.cursor = 'pointer';
           });

           // Change it back to a pointer when it leaves.
           map.on('mouseleave', 'places', () => {
               map.getCanvas().style.cursor = '';
           });
       });
   </script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


{% endblock content %}
